# any venv folder is ignored
/venv
/env
/Report

# ignoring caches
/TAI/TAI/__pycache__

/TAI/mainapp/__pycache__
__pycache__

# ingore extras (should only be Tehseens local and NOT IN REPOSITORY)

/TAI/LittleExtraIgnore

