{% extends 'mainapp/base.html' %}
{% block title %}Checkout Cart{% endblock %}
{% block content %}
<div class="dashboard-container">
    <h2>{{ user.username }} final checkout</h2>
    <p>This is a placeholder page</p>
    <!-- <div class="dashboard-actions">
        <a href="{% url 'text_editor' %}" class="cta-button">Open Text Editor</a>
        <a href="{% url 'user-settings' %}" class="cta-button secondary">Manage Settings</a>
    </div> -->
</div>
{% endblock %}


<!--For now these will just redirect to dashboard-->