{% extends 'mainapp/base.html' %}
{% block title %}New Document{% endblock %}

<!-- I gpted this html file just to have this file done, all thats really needed is to format better-->
{% block content %}
  <h2>Create a New Document</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.title.label_tag }}<br>
      {{ form.title }}
    </div>
    <div>
      {{ form.content.label_tag }}<br>
      {{ form.content }}
    </div>
    <div>
      {{ form.file.label_tag }}<br>
      {{ form.file }}
    </div>
    <button type="submit">Create</button>
  </form>
{% endblock %}
